<p>
  <strong><%= customer.name %></strong>
</p>

<p>
  <strong><%= customer.phone %></strong>
</p>

<p>
  <strong><%= customer.email %></strong>
</p>

<p>
  <strong><%= customer.notes %></strong>
</p>

<% if customer.image.present? %>
  <div class="card-image">
  <figure class="image">
  <%= image_tag customer.image %>
  </figure>
  </div>
<% else %>
  <p>IMAGE 📸</p>
<% end %>